In [1]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [2]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [3]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [4]:
i = 5          # initializing
while i>=1:    # condition
    print('data science :',i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [5]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [6]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [7]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [8]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [9]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [10]:
name1 = [1,3.5,'hallo'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hallo

In [11]:
for i in [2, 3, 7.8, 'hi']:
    print(i)

2
3
7.8
hi

In [12]:
range(5)

range(0, 5)

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
for i in range(2,5):
    print(i)

2
3
4

In [15]:
for i in range(1,10,3):
    print(i)

1
4
7

In [16]:
# print the value which is divisible by 5 
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [17]:
# print the value which is divisible by 5 
for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

In [18]:
# print the value which is divisible by 5 i dont want that value 
for i in range(1,21):
    
    if i%5!=0 :
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [19]:
# LETS DISCUSS ABOUT 3 KEYWORDS -- BREAK || CONTINUE || PASS
# BREAK STATEMNT - if you apply break statment in a loop then it will end the loop
# Pass = skips block of code( function, class etc)
# Continue= skips 1 step/iteration during loop 
# Break= jumps out of the function/loop

In [20]:
# write the code user ask chocklet from vendor machne write the basic code 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet')
    i += 1

How many choclets you want:? 2

choclet
choclet

In [21]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet')
    i += 1   
# if you check the user wants 10 choclets  but availabe choclet is 5 but we got output as 10 choclet
# in this code we just declare but we dint apply any condition to it

How many choclets you want:? 5

choclet
choclet
choclet
choclet
choclet

In [22]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets user want:? 5

choclet
choclet
choclet
choclet
choclet
bye for now

In [23]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets you want:? 3

choclet
choclet
choclet
bye for now

In [24]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range(1,11):
    if i == 6:
       break 
    print(i)

1
2
3
4
5

In [26]:
for i in range(1,11):
    if i == 3:
        continue 
    print(i)

1
2
4
5
6
7
8
9
10

In [27]:
for i in range(1,11):
    if i == 6:
        continue  
    print('hello :',i)

hello : 1
hello : 2
hello : 3
hello : 4
hello : 5
hello : 7
hello : 8
hello : 9
hello : 10

In [28]:
# for i in range(1,11): error
for i in range(1,11):
    pass

In [29]:
for i in range(1,51):
    
    if i%3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [30]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [31]:
for i in range(1,51):
    
    if i%3 == 0 and i%5 == 0:
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50

In [32]:
for i in range(1,50):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')    
# when you apply and you wont get the value which is divisible by both 3 & 5 (15

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [33]:
# i dont want to print the values which are even numbers that means print only odd numbers

for i in range(1,51):
    
    if (i%2 == 0):
        #print('even')
        continue
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

In [34]:
for i in range(1,5):
    if i<=5:
        print('* * * *')

* * * *
* * * *
* * * *
* * * *

In [35]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [36]:
for j in range(4):
    print('#')

#
#
#
#

In [37]:
for j in range(4):
    print('#', end = " ")

# # # #

In [38]:
for j in range(4):
    print('#', end=" ")

for j in range(4):
    print('#', end=" ")

# # # # # # # #

In [39]:
for j in range(4):
    print('#', end=" ")
    
print()
    
for j in range(4):
    print('#', end=" ")

# # # #
# # # #

In [40]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [41]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [42]:
for i in range(4):
    for j in range(i+1):
        print('#', end = " ")
    print()

#
# #
# # #
# # # #

In [43]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [44]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [45]:
for i in range(4):
    for j in range(i):
        print('#', end="  ")
    print()

#
#  #
#  #  #

In [46]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [47]:
for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #
#  #
#

In [48]:
for i in range(1,5):
    print("# "*(5-i))

# # # #
# # #
# #
#

In [49]:
nums = [12,15,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)

15

In [50]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num % 5 == 0:
        print(num)

25
30
35

In [51]:
nums = [12,14,18,21,25,20]

for num in nums:
    if num % 5 == 0:
        print(num)

25
20

In [52]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [53]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [54]:
nums = [10,14,18,21,5,10]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break #it will print only 1 number then it break

10

In [56]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

In [57]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found

In [58]:
nums = [7,14] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found

In [59]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Number Not Found') # hear else we dont write in if block but we can write in for block only

Number Not Found

In [60]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
Not Found

In [61]:
nums = [10,14,18,21,20,27,30] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
30
Not Found

In [62]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [63]:
num = 12

for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Not prime Number

In [64]:
num = 13
for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Prime Number

In [65]:
from array import * 
arr = array('i',[])

n = int(input('Enter the length of the array'))

for i in range(5):
    x = int(input('Enter the next value'))
    arr.append(x)
print(arr)

Enter the length of the array 10
Enter the next value 25
Enter the next value 36
Enter the next value 45
Enter the next value 12
Enter the next value 12

array('i', [25, 36, 45, 12, 12])

In [66]:
from array import * 
arr = array('i',[])

n = int(input('Enter the length of the array'))

for i in range(5):
    x = int(input('Enter the next value'))
    arr.append(x)
print(arr)

Enter the length of the array 10
Enter the next value 20
Enter the next value 30
Enter the next value 40
Enter the next value 50
Enter the next value 60

array('i', [20, 30, 40, 50, 60])

In [69]:
from array import * 
arr = array('i',[])

n = input('Enter the length of the array')

for i in range(5):
    x = input('Enter the next value')
    arr.append(x)
print(arr)

Enter the length of the array 10
Enter the next value 20

TypeError: 'str' object cannot be interpreted as an integer