In [1]:
def greet():
    print('hello')
    print('good Evening')

In [2]:
def greet():
    print('hello')
    print('good Evening') 
greet()

hello
good Evening

In [3]:
def greet():
    print('hello')
    print('good Evening') 
greet()

def greet():
    print('hello')
    print('good Evening') 
greet()

def greet():
    print('hello')
    print('good Evening') 
greet()

hello
good Evening
hello
good Evening
hello
good Evening

In [4]:
def greet():
    print('hello')
    print('good Evening') 
greet()

greet()

greet()

hello
good Evening
hello
good Evening
hello
good Evening

In [5]:
# write a python code add 2 number 

def add(x,y):
    c=x+y
    print(c)  
add(10,16)

26

In [6]:
# write a python code add 2 number 

def add(x,y,z):
    c=x+y+z
    print(c)  
add(5,6, 7)

18

In [7]:
def greet():
    print('hello')
    print('good evening') 
greet()

def add(x,y,z):
    c=x+y+z
    print(c)  
add(5,6, 7)

hello
good evening
18

In [8]:
#Using Return()
def greet():
    print('hello')
    print('good evening') 


def add(x,y,z):
    c=x+y+z
    return c 

def sub(x,y):
    d = x-y
    print(d)
    
greet()
add(5,6,7)
sub(2,3)

hello
good evening
-1

In [9]:
def greet():
    print('hello')
    print('good afternoon')

def add(x,y,z):
    c=x+y+z
    return c

greet()

result = add(5,4,3)
print(result)

hello
good afternoon
12

In [10]:
# what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
def add_sub(x,y): 
    c= x+y
    d= x-y
    e=x*y
    f= x/y
    g = x**y
    print(c, d,e,f,g)
    
add_sub(4,5)

9 -1 20 0.8 1024

In [11]:
# what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value
def add_sub(x,y): 
    c= x+y
    d= x-y
    print(c,d) 
    
add_sub(4,5)

9 -1

In [12]:
# what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c,d 
    
add_sub(4,5)

(9, -1)

In [13]:
# what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [14]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result1,result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

In [15]:
#update function take the value from the user
def Baleno(x): 
    x = 10
    print(x)
    
Baleno(8)

10

In [16]:
#update function take the value from the user
def Baleno(x): 
    x = 10
    print(x)
    
Baleno(8)

10

In [17]:
def Baleno(x): 
    x = 8
    print(x)
a = 10   
Baleno(a)
print(a)

8
10

# formal argument

In [31]:
class nit:
    def add(self, a, b):  # Added 'self'
        c = a + b
        print(c)

obj = nit()  # Create an instance
obj.add(5, 6)  # Call the method using the instance

11

# actual argument
- positional argument
- keyword argument
- variable lenght
- defaul

In [19]:
def person(name,age):
    print(name)
    print(age)
    
person('nit',22)

nit
22

In [20]:
def person(name,age):
    print(name)
    print(age)
    
person(22, 'nit')

22
nit

In [21]:
def person(name,age):
    print(name)
    print(age-5)   
    
person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [22]:
# keyword 

def person(name,age):
    print(name)
    print(age-5)   
    
person(age = 22, name = 'nit')

nit
17

In [23]:
# keyword 

def person(name,age ):
    print(name)
    print(age)   
    
person(22, 'nit', 5)

TypeError: person() takes 2 positional arguments but 3 were given