SET CREATION

In [2]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [4]:
len(myset)

5

In [6]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [8]:
myset1 = {1.79,2.08,3.99,4.56,5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [10]:
myset2 = {'Asif' , 'John' , 'Tyrion'}
myset2

{'Asif', 'John', 'Tyrion'}

In [1]:
myset3 = {10,20, "Hola", (11, 22, 32)}
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [3]:
myset3 = {10,20, "Hola", [11, 22, 32]}
myset3

TypeError: unhashable type: 'list'

In [5]:
myset4 = set()
print(type(myset4))

<class 'set'>

In [7]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

LOOP THROUGH A SET

In [10]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [12]:
for i in myset:
    print(i)

two
three
six
five
four
seven
eight
one

In [24]:
for i in enumerate(myset):
    print(i)

(0, 'two')
(1, 'three')
(2, 'six')
(3, 'five')
(4, 'four')
(5, 'seven')
(6, 'eight')
(7, 'one')

SET MEMBERSHIP

In [27]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
'one' in myset

True

In [31]:
'ten' in myset

False

In [35]:
if 'three' in myset:
    print('Three is present in the set') 
else: 
    print('Three is not present in the set')

Three is present in the set

In [37]:
if 'eleven' in myset:
    print('eleven is present in the set') 
else: 
    print('eleven is not present in the set')

eleven is not present in the set

ADD & REMOVE ITEMS

In [68]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [70]:
myset.add('NINE')
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [72]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [74]:
myset.remove('NINE')
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [76]:
myset.discard('TEN')
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [78]:
myset.clear()
myset

set()

In [80]:
del myset
myset

NameError: name 'myset' is not defined

COPY SET

In [83]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [85]:
myset1 = myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [87]:
id(myset) , id(myset1)

(3156016133088, 3156016133088)

In [89]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [91]:
id(my_set)

3156016122112

In [93]:
myset.add('nine') 
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [95]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

SET OPERATION

In [102]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}
A

{1, 2, 3, 4, 5}

In [104]:
B

{4, 5, 6, 7, 8}

In [106]:
C

{8, 9, 10}

In [108]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [110]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [112]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [116]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

INTERSECTION

In [119]:
A= {1,2,3,4,5} 
B = {4,5,6,7,8}
A

{1, 2, 3, 4, 5}

In [121]:
B

{4, 5, 6, 7, 8}

In [123]:
A & B

{4, 5}

In [125]:
A.intersection(B)

{4, 5}

In [129]:
Intersection A and B

SyntaxError: invalid syntax (1666149112.py, line 1)

In [133]:
A.intersection_update(B)
A

{4, 5}

DIFFERENCE

In [136]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}
A

{1, 2, 3, 4, 5}

In [138]:
B

{4, 5, 6, 7, 8}

In [140]:
A - B

{1, 2, 3}

In [144]:
A.difference(B)

{1, 2, 3}

In [146]:
B - A

{6, 7, 8}

In [150]:
B.difference_update(A)
B

{6, 7, 8}

SYMMETRIC DIFFERENCE

In [153]:
A= {1,2,3,4,5} 
B = {4,5,6,7,8}
A

{1, 2, 3, 4, 5}

In [155]:
B

{4, 5, 6, 7, 8}

In [157]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [159]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [161]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

SUBSET ,SUPERSET & DISJOINT

In [164]:
A= {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [166]:
B

{3, 4, 5, 6, 7, 8}

In [168]:
C

{10, 20, 30, 40}

In [170]:
B.issubset(A)

True

In [172]:
A.issuperset(B)

True

In [174]:
C.isdisjoint(A)

True

In [176]:
B.isdisjoint(A)

False